<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h1>Danh sách khách hàng</h1>
<a th:href="@{/create.html}">Tạo khách hàng mới</a>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>name</td>
        <td>Email</td>
        <td>Option</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer: ${list}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td th:text="${customer.email}"></td>
        <td>
            <a th:href="@{/update(id=${customer.getId()})}">Sửa</a> - <a th:href="@{/delete(id=${customer.getId()})}">Xóa</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
